/* Add basic styling for the chat interface */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Sidebar styles */
.sidebar {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.new-chat-button {
  background-color: #cfd9d8;
  color: rgb(0, 0, 0);
  font-weight: 600;
  border: none;
  padding: 10px;
  padding-left: 44px;
  padding-right: 44px;
  cursor: pointer;
  border-radius: 5px;
  /* margin-bottom: 10px; */
  margin-left: 12px;
  margin-top: 10px;
  
}

/* Dropdown styles */
.dropdown {
  /* position: relative; */
  /* cursor: pointer; */
  padding-top: 20px;
  padding-left: 15px;
  /* background-color: #007bff; */
}

.dropdown-content {
  /* display: none; */
  /* position: absolute; */
  /* cursor: pointer; */
  top: 100%;
  left: 4;
  background-color: #333;
  min-width: 150px;
}

/* .dropdown-content a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: block;
} */

/* .dropdown:hover .dropdown-content {
  display: block;
} */

.chat-container {
  /* position: relative; */
  max-width: 100%;
  margin: 0 auto;
  margin-left: 240px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: 80vh;
  /* Set a fixed height for the chat container */
  overflow-y: auto;
  /* Add vertical scrolling for overflow */
}

/* User and bot messages with different colors */
.message {
  display: flex;
  align-items: flex-start;
  /* align-items: center; */
  margin-bottom: 10px;
}

.translated.user {
  /* white-space: pre-line; */
  color: #dce1e4;
}

.translated.bot {
  /* white-space: pre-line; */
  color: #5b5e5f;
}

.translated.sug {
  /* white-space: pre-line; */
  color: #efebeb;
}

.message.user-message{
  display: flex;
  flex-direction: column;

}
.message.bot-message{
  display: flex;
  flex-direction: column;
  /* flex-direction: row-reverse;
  align-items: flex-start; */
}

.content-user{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  background-color: #6abeb2;
  color: white;
  text-align: right;
  border-radius: 5px;
  margin-left: auto;
  padding: 7px;
  max-width: 65%;
  /* width: fit-content; */
  position: relative;
}

.content-bot {
  display: flex;
  align-items: center;
  /* flex-direction: column; */

  /* flex-direction: column; */
  background-color: #e6afaf;
  text-align: left;
  color: #333;
  /* Change the color of bot responses */
  border-radius: 5px;
  margin-right: auto;
  padding: 7px;
  max-width: 65%;
}


/* User input field and button */
.user-input {
  display: flex;
  align-items: center;
}


.user-input input[type="text"] {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
  /* margin-left: 500px; */
  margin-top: 25px;
  border-radius: 5px;
  margin-left: 30px;
}

.user-input button {
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  margin-top: 25px;
  border-radius: 5px;
}

#sendMessage {
  background-color: #65c4be;
  color: white;
  margin-right: 300px;
}

#hint {
  background-color: #83c7e2;
  margin-left: 350px;
}

#microphone {
  background-color: #83c7e2;
  margin-left: 30px;
}

.user-input img {
  max-width: 20px;

}

/* Images for the bot and human */
.bot-image {
  max-width: 50px;
  max-height: 100px;
  height: auto;
  /* align-self: flex-end; */
  /* margin-left: 10px; */
  transform-origin: bottom;
  margin-right: 10px;
}

.human-animation {
  max-width: 50px;
  max-height: 100px;
  align-self: flex-start;
  margin-right: 0px;
  margin-left: 10px;
  transform-origin: bottom;

}


/* Style the <select> element */
select {
  margin-top: 5px;
  padding: 3px;
  /* Adjust padding as needed */
  font-size: 16px;
  /* Adjust font size as needed */
  border: 1px solid #ccc;
  /* Add a border */
  border-radius: 5px;
  /* Add rounded corners */
  width: 150px;
  /* Set a specific width */
}

/* Style the <option> elements */
option {
  font-size: 14px;
  /* Adjust font size as needed */
  padding: 5px 10px;
  /* Adjust padding as needed */
  background-color: #fff;
  /* Background color for options */
  color: #333;
  /* Text color for options */
}

/* Style the dropdown when it's focused (clicked) */
select:focus {
  border-color: #007bff;
  /* Change border color when focused */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  /* Add a shadow when focused */
}

.user-trans {
  width: 30px;
  /* text-align: right; */
  margin-left: auto;
  margin-top: 4px;
  margin-right: 8px;
  /* position: absolute; */
  /* bottom: 0; */
}

button.user-translation img {
  max-width: 20px;
}

.user-vol {
  width: 30px;
  /* text-align: right; */
  margin-left: auto;
  margin-top: 4px;
  /* position: absolute; */
  /* bottom: 0; */
}

.bot-vol {
  width: 30px;
  /* text-align: right; */
  /* margin-left: auto; */
  margin-top: 4px;
  margin-left: 8px;
  /* position: absolute; */
  /* bottom: 0; */
}

button.speak img {
  max-width: 20px;
}

.bot-trans {
  width: 30px;
  margin-top: 4px;
  /* text-align: right; */
  /* margin-right: auto;
  margin-left: auto; */
}



.sug-vol{
  width: 30px;
}

.sug-trans{
  width: 30px;
}

button.bot-translation img {
  max-width: 20px;
}

.user-correction {
  background-color: #c2c8c7;
  color: rgb(99, 96, 96);
  text-align: right;
  border-radius: 5px;
  margin-left: auto;
  padding: 7px;
  max-width: 65%;
}

.bottom-bar {
  /* background-color: #04ff00; */
  position: fixed;
  color: black;
  bottom: 0;
  left: 57%;
  transform: translateX(-50%);
  width: auto;
  background-color: #9ab5c0;
  opacity: 1;
  text-align: center;
  padding: 10px;
  max-width: 80%;
  margin-bottom: 130px;
  border-radius: 5px;
  display: none;
}

.buttons{
  display: flex;
  flex-direction: row;
}

.user-buts{
  margin-left: auto;
}

.suggestion-container{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  /* align-items: stretch; */
  background-color: #94a5ab;
  margin-top: 5px;
  border-radius: 5px;
}

.sug-trans, .sug-vol{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}



